- unless @results.empty?
  .well{style: 'background-color:white'}
    .row
      = high_chart("some_id", @chart)
      .row.text-center
      %br
.well
  = search_form_for @q do |f|
    .row
      .col-md-6
        = f.collection_select :luc_name_eq, @luc_names, :to_s, :to_s, {},{class: 'form-control'}
      .col-md-6
        = f.collection_select :pool_name_en_eq, @pool_name_ens, :to_s, :to_s, {},{class: 'form-control'}
    .row{style: "margin-top: 5px"}
      .col-md-6
        = f.collection_select :submission_eq, @submissions, :to_s, :to_s, {},{class: 'form-control'}
      .col-md-6
        = f.collection_select :substance_eq, @substances, :to_s, :to_s, {}, {class: 'form-control'}
    .row{style: "margin-top: 5px"}
      .col-md-6
        = f.collection_select :state_name_en_eq, @state_name_ens, :to_s, :to_s, {}, {class: 'form-control'}
    .row{style: "margin-top: 5px; margin-right: 0px"}
      = f.submit class: 'btn btn-md btn-default pull-right'
      - unless @results.empty?
        = link_to 'Export CSV',em_ttt_kps_path(params.merge(format: 'csv')), tabindex: '-1', class: 'btn btn-md btn-default pull-right', style: 'margin-right: 5px'
- if @results.empty?
  .well
    There are no results for this filter combination
- else
  %table.table.table-striped{data: {toggle:"table", search: "true", pagination: "true", toolbar: '#toolbar' }}
    %thead
      %th
        Activity
      %th
        Pool
      %th
        Submission
      %th
        Inventory year
      %th
        State
      %th
        Substance
      %th
        Unit
      %th
        Value
    %tbody
      - @results.each do |em_ttt_kp|
        %tr
          %td
            = em_ttt_kp["luc_name"]
          %td
            = em_ttt_kp["pool_name_en"]
          %td
            = em_ttt_kp["submission"]
          %td
            = em_ttt_kp["inventory_year"]
          %td
            = em_ttt_kp["state_name_en"]           
          %td
            = em_ttt_kp["substance"]
          %td
            = em_ttt_kp["unit"]
          %td
            = em_ttt_kp["value"]