%a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
  Toggle Chart
#collapseExample.collapse
  = high_chart_globals(@chart_globals)
  = high_chart("some_id", @chart)
%table.table.table-striped{data: {toggle:"table", search: "true", pagination: "true", toolbar: '#toolbar' }}
  %thead
    %th{data: {sortable: 'true', field: 'email'}}
      luc_nr
    %th{data: {sortable: 'true', field: 'status'}}
      submission
    %th{data: {sortable: 'true', field: 'role'}}
      pool
    %th
      inv
    %th
      sub
    %th
      unit
    %th
      val
  %tbody
    - @em_annus.each do |em_annu|
      %tr
        %td
          = em_annu["luc_nr"]
        %td
          = em_annu["submission"]
        %td
          = em_annu["pool_abbr"]
        %td
          = em_annu["inventory_year"]
        %td
          = em_annu["substance"]
        %td
          = em_annu["unit"]
        %td
          = em_annu["value"]

= paginate @em_annus, :theme => 'twitter-bootstrap-3'