.well
  = search_form_for @q do |f|
    .row
      .col-md-6
        = f.collection_select :luc_nr_eq, Luc.all, :luc_nr, :luc_name, {include_blank: 'Filter by LUC'}, {class: '  form-control'}
      .col-md-6
        = f.collection_select :submission_eq, @submissions, :to_s, :to_s, {include_blank: 'Filter by SUBMISSION'},{class: 'form-control'}
    .row{style: "margin-top: 5px; margin-right: 0px"}
      = f.submit class: 'btn btn-md btn-default pull-right'
%table.table.table-striped{data: {toggle:"table", search: "true", pagination: "true", toolbar: '#toolbar' }}
  %thead
    %th
      = sort_link(@q, :luc_nr)
    %th
      = sort_link(@q, :submission)
    %th
      = sort_link(@q, :inventory_year)
    %th
      = sort_link(@q, :substance)
    %th
      unit
    %th
      val
  %tbody
    - @results.each do |row|
      %tr
        %td
          = row["luc_nr"]
        %td
          = row["submission"]
        %td
          = row["inventory_year"]
        %td
          = row["substance"]
        %td
          = row["unit"]
        %td
          = row["value"]
