%a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
  Toggle Chart
  #collapseExample.collapse
    .well
      = high_chart_globals(@chart_globals)
      = high_chart("some_id", @chart)
%br
= will_paginate @em_annus, :renderer => WillPaginate::ActionView::LinkRenderer
%br
= @em_annus.total_entries
Entries
.well
  = search_form_for @q do |f|
    = f.select :luc_nr_eq, options_from_collection_for_select(Luc.all,"luc_nr", "luc_nr",@q.luc_nr_eq)
    = f.submit
%table.table.table-striped{data: {toggle:"table", search: "true", pagination: "true", toolbar: '#toolbar' }}
  %thead
    %th
      = sort_link(@q, :luc_nr)
    %th
      = sort_link(@q, :submission)
    %th
      pool
    %th
      inv
    %th
      sub
    %th
      unit
    %th
      val
  %tbody
    - @em_annus.each do |em_annu|
      %tr
        %td
          = em_annu["luc_nr"]
        %td
          = em_annu["submission"]
        %td
          = em_annu["pool_abbr"]
        %td
          = em_annu["inventory_year"]
        %td
          = em_annu["substance"]
        %td
          = em_annu["unit"]
        %td
          = em_annu["value"]

= will_paginate @em_annus, :renderer => WillPaginate::ActionView::LinkRenderer