.well
  = high_chart_globals(@chart_globals)
  = high_chart("some_id", @chart)
.well
  = search_form_for @q do |f|
    .row
      .col-md-6
        = f.collection_select :luc_nr_eq, Luc.all, :luc_nr, :luc_name, {include_blank: 'Filter by LUC'}, {class: '  form-control'}
      .col-md-6
        = f.collection_select :pool_abbr_eq, Pool.all, :pool_abbr, :pool_name, {include_blank: 'Filter by POOL'}, {class: 'form-control'}
    .row{style: "margin-top: 5px"}
      .col-md-6
        = f.collection_select :submission_eq, @submissions, :to_s, :to_s, {include_blank: 'Filter by SUBMISSION'},{class: 'form-control'}
      .col-md-6
        = f.collection_select :substance_eq, @substances, :to_s, :to_s, {include_blank: 'Filter by SUBSTANCE'}, {class: 'form-control'}
    .row{style: "margin-top: 5px; margin-right: 0px"}
      = f.submit class: 'btn btn-md btn-default pull-right'
%table.table.table-striped{data: {toggle:"table", search: "true", pagination: "true", toolbar: '#toolbar' }}
  %thead
    %th
      = sort_link(@q, :luc_nr)
    %th
      = sort_link(@q, :submission)
    %th
      = sort_link(@q, :pool_abbr)
    %th
      inv
    %th
      sub
    %th
      unit
    %th
      val
  %tbody
    - @em_annus.each do |em_annu|
      %tr
        %td
          = em_annu["luc_nr"]
        %td
          = em_annu["submission"]
        %td
          = em_annu["pool_abbr"]
        %td
          = em_annu["inventory_year"]
        %td
          = em_annu["substance"]
        %td
          = em_annu["unit"]
        %td
          = em_annu["value"]