<!DOCTYPE html>
<html>
  <head>
    <title>Ghg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
  </head>

  <body>
<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GHG Inventory of German Forests</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="<%= em_annu_kps_path%>">Annual Emissions</a></li>
                <li class="active"><a href="<%= em_ttt_kps_path%>">Emissions from areas with transition time</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav"> 
               <nav>
                   <ul class="nav">
                      <p class="strong">Search Emissions</p>
                       <li><h4>Kyoto</h3>
                           <ul class="nav" id="submenu1" role="menu" aria-labelledby="btn-1">
                               <%= active_link_to '> Full Search', em_ttt_kps_path, wrap_tag: :li%>
                               <%= active_link_to '> Pools', em_ttt_pools_kps_path, wrap_tag: :li%>
                               <%= active_link_to '> GhG', em_ttt_ghg_kps_path, wrap_tag: :li%>
                           </ul>
                       </li>
                       <li><h4>LULUCF</h3>
                           <ul class="nav " id="submenu2" role="menu" aria-labelledby="btn-1">
                               <%= active_link_to '> Full Search', em_ttt_lulucfs_path, wrap_tag: :li%>
                               <%= active_link_to '> Pools', em_ttt_pools_lulucfs_path, wrap_tag: :li%>
                               <%= active_link_to '> GhG', em_ttt_ghg_lulucfs_path, wrap_tag: :li%>
                           </ul>
                       </li>
                   </ul>
               </nav>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div class="col-xs-12 col-sm-9 main-content">
            <%= yield %>
        </div>
    </div>
    <hr>

    <footer>
        <p>© Philipp Beissert</p>
    </footer>

</div>
  </body>
</html>


